<% layout("/layouts/boilerplate") %>

<body>

<div class="homepg-start">
    <div class="homepg-box">
        <h2 class="homepg-title">Better Health Starts Here.</h2>
        <p>Sneak peek into your health destiny</p>
    </div>
    <div>
        <div class="typewriter">
            <div class="static-text">
                Are you 
            </div>
            <span class="moving-txt">&nbsp;Diabetic or not ?</span>
        </div>
        <form action="/predict" method="get">
            <button class="homepg-check-button">Check Your Risk Now > </button>
        </form>
    </div>
</div>

<!-- ABOUT US -->
<div class="about-us">
    <h4>WHAT IS GLUCOSAGE?</h4>
    <h2>Digital Healthcare At Your Fingertips With Us</h2>
    We're a team of health enthusiasts and tech wizards on a mission to help you stay healthy and happy. <br><h5>Our vision? Preventing diabetes before it even starts!</h5> <br>
    <div class="separator" style=" height: 2px; width: 20vh; background-color:#707de1d2;"></div>
    <br>
    <p><i>Diabetes</i>, a chronic metabolic disorder characterised by elevated blood sugar levels, exerts a profound impact on individual health outcomes and healthcare systems worldwide. Type 2 diabetes, in particular, presents a formidable challenge, with its prevalence soaring amidst changing lifestyles and aging populations. Given the escalating prevalence of diabetes, there is an urgent need for proactive measures and individualized risk assessments Identifying individuals at risk before the onset of diabetes is paramount in implementing preventive strategies and ensuring better health outcomes for all. <br><br>
    In an era defined by technological innovation and data-driven healthcare solutions, the quest to tackle the global burden of diabetes has reached a pivotal juncture. Within this landscape of evolving challenges and opportunities, we proudly present our Diabetes Risk Predictor—a transformative tool poised to revolutionize the approach to diabetes prevention.</p> <br>
       <p> Ever wondered about your risk of getting diabetes? That's where we come in! We've created your GlucoSage that checks your risk for having diabetes. All you need is an internet connection and a few minutes of your time.
    </p>
</div>

<!-- WHY NEED GLUCOSAGE -->
<div class="whyneedGlucosage">
    <h4>WHY NEED GLUCOSAGE?</h4>
    <h2>We Are Bringing Health and Wellness Home</h2>
    <div class="separator" style=" height: 2px; width: 20vh; background-color:#707de1d2; margin: auto;"></div>
    <br><br>
    <div class="cards-need">
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" width="35"><path d="M420-340h120v-100h100v-120H540v-100H420v100H320v120h100v100Zm60 260q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132Zm0-316Z"/></svg>

            <h5>Empowerment Through Knowledge</h5>
            <p> Diabetes is a chronic condition that affects millions worldwide. Understanding your risk factors for diabetes puts you in control of your health. </p>
        </div>
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" width="35"><path d="M438-226 296-368l58-58 84 84 168-168 58 58-226 226ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>

            <h5>Convenience and Accessibility</h5>
            <p>We offer a convenient and accessible alternative instead of planning specialized appointments,you can assess your risk from the comfort of your own home, at any time that suits you </p>
        </div>
        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" width="35"><path d="M640-440 474-602q-31-30-52.5-66.5T400-748q0-55 38.5-93.5T532-880q32 0 60 13.5t48 36.5q20-23 48-36.5t60-13.5q55 0 93.5 38.5T880-748q0 43-21 79.5T807-602L640-440Zm0-112 109-107q19-19 35-40.5t16-48.5q0-22-15-37t-37-15q-14 0-26.5 5.5T700-778l-60 72-60-72q-9-11-21.5-16.5T532-800q-22 0-37 15t-15 37q0 27 16 48.5t35 40.5l109 107ZM280-220l278 76 238-74q-5-9-14.5-15.5T760-240H558q-27 0-43-2t-33-8l-93-31 22-78 81 27q17 5 40 8t68 4q0-11-6.5-21T578-354l-234-86h-64v220ZM40-80v-440h304q7 0 14 1.5t13 3.5l235 87q33 12 53.5 42t20.5 66h80q50 0 85 33t35 87v40L560-60l-280-78v58H40Zm80-80h80v-280h-80v280Zm520-546Z"/></svg>
            <h5>Long-Term Health Benefits</h5>
            <p>Investing in diabetes prevention today can lead to significant long-term health benefits, including reduced risk of complications, improved quality of life, and lower healthcare costs. By taking action now, you can protect your health and well-being for years to come.</p>
        </div>

    </div>
</div>

<!-- STEPS TO FIND RISK PREDICTION -->
<div class="risk Prediction">
    <h4>TEST FOR DIABETES?</h4>
    <h2>Steps to Discover Your Diabetic Risk</h2>
    <!-- <div class="separator" style=" height: 2px; width: 20vh; background-color:#707de1d2; margin: auto;"></div> -->
    <div class="steps">
        <div class="step-cards">
            <div class="step-circle-border">
                <div class="step-circle"><h3>01</h3>STEP</div> 
            </div>
            <p>Sign-up</p>
        </div>
        <div class="step-cards">
            <div class="step-circle-border">
                <div class="step-circle"><h3>02</h3>STEP</div> 
            </div>
            <p>Log-in</p>
        </div>
        <div class="step-cards">
            <div class="step-circle-border">
                <div class="step-circle"><h3>03</h3>STEP</div> 
            </div>
            <p>Enter <br>details in <br>prediction <br> Tool</p>
        </div>
        <div class="step-cards">
            <div class="step-circle-border">
                <div class="step-circle"><h3>04</h3>STEP</div> 
            </div>
            <p>Get <br> your Score</p>
        </div>
    </div>
</div>
    
</body>